@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
    --color-richBlack: #0d1f2dff;
    --color-pacificCyan: #23b5d3ff;
    --color-moonstone: #75abbcff;
    --color-cadetGray: #a2aebbff;
    --color-platinum: #dfe0e2ff;

    --default-font-family: tahoma, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
    background-color: var(--color-platinum);
    color: var(--color-richBlack);
}